<html>
    <body style="background-color:yellowgreen;">
        <center>
            <br>
            <h1>SALARY PREDICTION </h1>
            <br>
        
            <h3> Year of experience of an employee </h3>
        <form action="{{url_for('predict')}}" method="post"  >
               Enter: <input type="text" name = "year" placeholder="year of experience" required="required" />
            </b>
            <br>
            <br>
            <button type="submit" class="btn">Predict</button>
        </form>
        <br>
        <br>
        <img  src="/static/salarygraph.png" >
    </center>
    </body>

</html>